li{
  border: #192F60 1px solid;
  /*半径8pxで丸める*/
  border-radius: 8px;
  width: 350px;
}
header{
  /*右上、左上を半径20pxで丸める*/
  border-radius: 20px 20px 0 0;
  background-color: aqua;
  text-align: center;
}
div {
  border-radius: 0 0 20px 20px;
  background-color: blue;
}
/* main要素内にスタイルを適用 */
main {
  overflow: auto;
}