.today{
  font-size: 20px;
}
span{
  background-color: #FFC0CB;
  height: 28px;
  display: inline-block;
}
.temperature{
  background-color: #FFD8B2;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.humidity{
  background-color: #ADD8E6;
  /*横並びにする方法*/
  display: inline-block;
  width: 40px;
  height: 20px;
}
img{
  display: block;
}
