li{
  border: #192F60 1px solid;
  
  border-radius: 8px;
  width: 350px;
}
header{
  /*右上、左上を半径20pxで丸める*/
  border-radius: 20px 20px 0 0;
  background-color: aqua;
  text-align: center;
}
div {
  border-radius: 0 0 20px 20px;
  background-color: blue;
}
/* main要素内にスタイルを適用 */
main {
  overflow: auto;
}

img {
  width: 200px;
  height: 200px;
  /*要素の内容を親要素のサイズに合わせてトリミング
  拡大縮小して表示する*/
  object-fit: cover;
}
header {
  /*スクロールに応じて要素がある位置に
  「くっつく」ような動作をする*/
  position: sticky;
  top: 0;
}
header {
  position: sticky;
  top: 0;
  /* header要素にopacityプロパティを追加 */
  opacity: 0.9;
}