/* メイン */
main {

    color: rgb(255, 148, 148);
    font-size: 14px;

    /* 中央に配置 */
    display: flex;
    justify-content: center;
    align-items: center;

}

.inputbox {

    /* 矢印上の余白指定 */
    margin-top: 45px;

    padding: 16px;
    height: 43px;
    width: 288px;
    border-radius: 12px;
}

.chatname {

    width: 320px;
    height: 50px;
    border: 1px solid rgb(255, 148, 148);
    border-radius: 12px;

}

.chatexplanation {

    width: 320px;
    height: 150px;
    border: 1px solid rgb(255, 148, 148);
    border-radius: 12px;

}



/* メインEND */