/* メイン */
main {

    color: rgb(255, 148, 148);
    font-size: 14px;

    /* 中央に配置 */
    display: flex;
    justify-content: center;
    align-items: center;

}

.inputbox {

    /* 矢印上の余白指定 */
    margin-top: 45px;

    padding: 16px;
    height: 43px;
    width: 288px;
    border-radius: 12px;
}

.chatname {

    width: 320px;
    height: 50px;
    border: 1px solid rgb(255, 148, 148);
    border-radius: 12px;

}

.chatexplanation {

    width: 320px;
    height: 150px;
    border: 1px solid rgb(255, 148, 148);
    border-radius: 12px;

}

.mainbutton {

    width: 320px;
    height: 50px;
    font-size: 16px;
    color: #FFFFFF;
    background: rgb(255, 148, 148);
    border-radius: 12px;
    margin-top: 64px;
    border: none;

}

/* メインEND */



/* フッター */
footer {

    padding: 16px;
    color: white;
    font-size: 14px;
    width: 100%;
    height: 110px;
    background-color: rgb(255, 148, 148);

    /* 横に画像3つ、各画像下にテキストを表示する配置設定 */
    display: flex;
    align-items: center;

    /* 間隔合わせ */
    justify-content: space-around;

    /*←絶対位置(下)*/
    position: absolute;

    /*下に固定*/
    bottom: 0;

}

.footer_item {

    /* 横に画像3つ、各画像下にテキストを表示する配置設定 */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footerbutton {

    /* 文字したの線除去 */
    text-decoration: none;

}

.footerimage {

    height: 60px;
    width: 60px;
}

/* フッターEND */