/* メイン */
/*ボックスを中央*/
.list {
    display: flex;
    justify-content: center;
    /* 文字したの線除去 */
    text-decoration: none;
}

/*ボックス内の表示*/
h3 {

    padding: 16px;
    height: 43px;
    border: 1px solid rgb(255, 148, 148);
    border-radius: 12px;
    width: 288px;
    background: white;
    color: rgb(255, 148, 148);
    font-size: 14px;
}

/* メインEND */